<center>

<h1>RULE ENGINE</h1> <br>

<form action="/home/index">
<b>JSON data displayed from url: </b><i><%= @url %></i><br>
 <select name="jvalue" style="width: 300px; height: 40px;">
  <option value="" selected = selected>Select value </option>
  <% @jsondata.values.each do |e| %>
  <option value="<%= e %>" <% if @jvalue == e -%> selected="selected" <% end -%>
  > 
  <%= e %></option>

  <% end %>
</select>

<input type="submit" value="Go"> <br>

<% if @jvalue1 != nil %>
<% @jvalue1.each do |f| %> <br>

<table>
<th><b>Value selected</b></th>
<th><b>Value class</b></th>
<tr>
<td>
 <%= f %> <br>
</td>
<td>
 <%= f.class %> <br>
</td>
</tr>
</table> 

<b>Conditions for type: </b><i><%= f.class %></i>

<select name="conditions" style="width: 300px; height: 40px;"> 
  <% if f.class == String %>
  <option value="">Select condition </option>
  <option value="rin"> rin</option>
  <option value="old"> old</option>
  <option value="mon"> mon</option>

  <% elsif f.class == Fixnum %>
  
  <option value="">Select condition </option>
  <option value="<"> < </option>
  <option value=">"> > </option>
  <option value="="> = </option>
</select>
  <% end %>
<input type="submit" value="Check"> <br>

<% end %>
<% end %>


<% if @cond != "" && @cond != nil %>

<table>
<th>Condition selected</th>
<th>Applying rule</th>
<th>Result</th>
<tr>
 <td><%= @cond %> </td>
 
 <% if @jvalue1 != nil %>
   <% @jvalue1.each do |f1| %> <br>

     <% if f1.class == Fixnum %>


        <%
          engine = Wongi::Engine.create
          engine << [ @cond =="<", @cond ==">", @cond =="=" ]
  
          engine.each :_, :_, :_ do |item|
        %>

            <% if item.subject %>
              <td><%= "#{f1}is < 10 ?" %></td>
              <td> <%= f1<10? "True" : "False"%> </td>
            <% elsif item.predicate %>
              <td><%= "#{f1}is > 10 ?" %></td>
              <td> <%= f1>10? "True" : "False"%> </td>
            <% elsif item.object %>
              <td><%= "#{f1}is = 10 ?" %></td>
              <td> <%= f1==10? "True" : "False"%> </td>
            <% end %>


        <% end %>

     <% elsif f1.class == String %>

        <% if @cond =="rin" %>
          <td><%= "#{f1} -> #{@cond}" %></td>
          <td> <%= f1=~/[Rr]in/? "Contains #{@cond}" : "Doesnt contain #{@cond}" %> </td>
        <% elsif @cond =="old" %>
          <td><%= "#{f1} -> #{@cond}" %></td>
          <td> <%= f1=~/[Oo]ld/? "Contains #{@cond}" : "Doesn't contain #{@cond}"%> </td>
        <% elsif @cond =="mon" %>
          <td><%= "#{f1} -> #{@cond}" %></td>
          <td> <%= f1=~/[Mm]on/? "Contains #{@cond}" : "Doesn't contain #{@cond}"%> </td>
        <% end %>

     <% end %>

   <%end%>
 <%end%>
</tr>
</table>
<% end %>



</form>

</center>