<nav class="top-bar" data-topbar>
    <li class="text-center">
      <h1><a href="/"><font color=#369DE1 >RULE ENGINE</font></a></h1>
    </li>
</nav>
<br>

<form action="/home/index">

<div class="large-4 columns">
<div class="row collapse">

<div class="small-9 columns">
 <select name="jvalue">
  <option value="">Select field </option>
  <% @jsondata.each do |f1,v| %>

   <% v1 = v.split("  ").map do |entry| 
        if entry.to_i == 0 && entry != "0" # this is a string 
          entry 
        elsif entry = ( Text(entry) rescue Integer(entry) rescue Float(entry) rescue Date.parse(entry) rescue Time.parse(entry) rescue nil) 
        entry.nil? ? entry : entry 
        end end 
   %>

   <%@field=@jsondata.key(@jvalue)%>

  <option value="<%= v %>" <% if @jvalue == v -%> selected="selected" <% end -%>
  > 
      <%= f1.humanize %>
      <% v1. each do |v2| %>
      <%= [v2.class] %>
      <% end %>
  </option>
  <% end %>
 </select> 
</div>

<div class="small-3 columns">
<input class="button postfix" type="submit" value="Go">
</div>

</div>
</div>

<% if @jvalue1 != nil %>
<% @jvalue1.each do |f| %>

<div class="large-2 columns">
<div class="row collapse">

<div class="small-3 columns">
  <span class="prefix">Value</span>
</div>  

<div class="small-9 columns">
<% if f.class == Time %>
  <input type="text" value = <%= f.strftime("%H:%M:%S") %> readonly>
  <% elsif f.class == Date %>
  <input type="text" value = <%= f.strftime("%m/%d/%Y") %> readonly>
  <% else %>
  <textarea wrap="off" readonly><%= f %> </textarea>
  <% end %>
</div>

</div>
</div>

<div class="large-2 columns">
<select name="conditions" > 
  <% if f.class == Fixnum %>
  
  <option value="">Select condition </option>
  <option value="<"<% if @cond == "<" -%> selected="selected" <% end -%>> < </option>
  <option value=">"<% if @cond == ">" -%> selected="selected" <% end -%>> > </option>
  <option value="="<% if @cond == "=" -%> selected="selected" <% end -%>> = </option>

  <% elsif f.class == Date %>
  
  <option value="">Select condition </option>
  <option value="ahead"<% if @cond == "ahead" -%> selected="selected" <% end -%>> find ahead 
  </option>
  <option value="behind"<% if @cond == "behind" -%> selected="selected" <% end -%>> find behind </option>
  
  <% elsif f.class == Time %>
  
  <option value="">Select condition </option>
  <option value="ahead"<% if @cond == "ahead" -%> selected="selected" <% end -%>> find ahead   </option>
  <option value="behind"<% if @cond == "behind" -%> selected="selected" <% end -%>> find behind </option>

  <% elsif f.class == String %>

  <option value="">Select condition </option>
  <option value="regex"<% if @cond == "regex" -%> selected="selected" <% end -%>> regular expression </option>
  
  <% end %>
</select>
</div>

      <% if f.class == Date %>
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="date" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div>
          </div>
          </div>
        
      <% elsif f.class == Time %>
           
          <div class="large-4 columns">
          <div class="row collapse">      
          <div class="small-9 columns">
            <input id="right-label" type="time" name="usercondition" >
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div> 
          </div>
          </div>       
        
      <% elsif f.class == Fixnum %>        
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="number" placeholder="e.g. 1234" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div> 
          </div>
          </div>         
       
      <% elsif f.class == Float %>
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="text" placeholder="e.g. 12.34" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div>
          </div>
          </div>
          
      <% elsif f.class == String %>
           
          <div class="large-4 columns">
          <div class="row collapse">          
          <div class="small-9 columns">
            <input id="right-label" type="text" placeholder="e.g. xxxx" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div>
          </div>
          </div>

      <% end %>

<% end %>
<% end %>

<% if @usrcond != "" && @usrcond != nil %>
 
 <% if @jvalue1 != nil %>
   <% @jvalue1.each do |f1| %>

<br><br><br><br>

<div class = "row">
<center>
<div data-alert class="alert-box info radius">

<table>
    <th>|Condition selected|</th> 
    <th>|Value entered|</th> 
    <th>|Applying rule|</th>
    <th>|Result|</th>
  <tr>

    <td><%= @cond %> </td>
    <td><%= @usrcond %> </td>
     <% if f1.class == Fixnum %>

        <%
          engine = Wongi::Engine.create
          engine << [ @cond =="<", @cond ==">", @cond =="=" ]
  
          engine.each :_, :_, :_ do |item|
        %>

            <% if item.subject %>
              <td><%= "#{f1} < #{params[:usercondition]} ?" %></td>
              <% @res= f1<@usrcond.to_i ? "True" : "False"%>
              <td><%= @res %></td>
            <% elsif item.predicate %>
              <td><%= "#{f1} > #{params[:usercondition]} ?" %></td>
              <% @res= f1>@usrcond.to_i ? "True" : "False"%>
              <td><%= @res %></td>
            <% elsif item.object %>
              <td><%= "#{f1} = #{params[:usercondition]} ?" %></td>
              <% @res= f1==@usrcond.to_i ? "True" : "False"%> 
              <td><%= @res %></td>
            <% end %>

        <% end %>

     <% elsif f1.class == String %>

          <% if @cond =="regex" %>
          <td><%= "#{f1} -> #{params[:usercondition]}" %></td>
          <% @res= f1=~/#{@usrcond}/? "True" : "False" %>
          <td><%= @res %></td>
          <% end %>
        

     <% elsif f1.class == Date %>

        <% if @cond =="behind" %>
          <td><%= "#{@usrcond} (-) #{f1}" %></td>
          <% 
           a = Date.parse(f1.strftime("%d/%m/%Y"))
           b = @usrcond
          %>       

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Year" %></b><br><%= diff[:year] %></td>
            <td><b><%= "Month" %></b><br><%= diff[:month] %></td>
            <td><b><%= "Week" %></b><br><%= diff[:week] %></td>
            <td><b><%= "Day" %></b><br><%= diff[:day] %></td>
            
            <% a1 = a.to_date %>
            <% b1 = b.to_date %>
            <% if b1 < a1 || b1 == a1%>
             <td><b><%= "True/False" %></b><br><% @res= "True" %> <%= @res %></td> 
            <% else %>
             <td><b><%= "True/False" %></b><br><% @res= "False" %> <%= @res %></td>
            <% end %>

        <% elsif @cond =="ahead" %>
          <td><%= "#{@usrcond} (-) #{f1}" %></td>
          <% 
           a = Date.parse(f1.strftime("%d/%m/%Y"))
           b = @usrcond
          %>
          
          <% diff = Time.diff(b, a) %>
            <td><b><%= "Year" %></b><br><%= diff[:year] %></td>
            <td><b><%= "Month" %></b><br><%= diff[:month] %></td>
            <td><b><%= "Week" %></b><br><%= diff[:week] %></td>
            <td><b><%= "Day" %></b><br><%= diff[:day] %></td>
            
            <% a1 = a.to_date %>
            <% b1 = b.to_date %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "True/False" %></b><br><% @res= "True" %> <%= @res %></td> 
            <% else %>
             <td><b><%= "True/False" %></b><br><% @res= "False" %> <%= @res %></td>
            <% end %>
        <% end %>



     <% elsif f1.class == Time %>

        <% if @cond =="ahead" %>
          <td><%= "#{@usrcond} (-) #{f1.strftime("%H:%M:%S")}" %></td>
          <% 
           a = f1.strftime("%H:%M:%S")
           b = @usrcond
          %>

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Hour" %></b><br><%= diff[:hour] %></td>
            <td><b><%= "Minute" %></b><br><%= diff[:minute] %></td>
            <td><b><%= "Second" %></b><br><%= diff[:second] %></td>

            <% a1 = a.to_time %>
            <% b1 = b.to_time %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "True/False" %></b><br><% @res= "True" %> <%= @res %></td> 
            <% else %>
             <td><b><%= "True/False" %></b><br><% @res= "False" %> <%= @res %></td>
            <% end %>
        
        <% elsif @cond =="behind" %>
          <td><%= "#{@usrcond} (-) #{f1.strftime("%H:%M:%S")}" %></td>
          <% 
           a = f1.strftime("%H:%M:%S")
           b = @usrcond
          %>

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Hour" %></b><br><%= diff[:hour] %></td>
            <td><b><%= "Minute" %></b><br><%= diff[:minute] %></td>
            <td><b><%= "Second" %></b><br><%= diff[:second] %></td>

            <% a1 = a.to_time %>
            <% b1 = b.to_time %>
            <% if b1 < a1 || b1 == a1%>
             <td><b><%= "True/False" %></b><br><% @res= "True" %> <%= @res %></td> 
            <% else %>
             <td><b><%= "True/False" %></b><br><% @res= "False" %> <%= @res %></td>
            <% end %>
        <% end %>

     <% end %>

   <%end%>
 <%end%>
</tr>
</table>
<a href="#" class="close">&times;</a>
</div>
</center>
</div>
<% end %>

</form>

<!-- storing json data in database -->
<%
if @jvalue == nil
      @jsondata1 = {jsondata: @jsondata} 
      Home.collection.insert(@jsondata1) 
    end
%>

<% 
  if @res=="True" 
    @action = "Mail"
  else
    @action ="--"
  end
%>

<!-- storing rule in database -->

<% if @jvalue1 != nil %>
<% @jvalue1.each do |f| %>

<% 
if @jvalue!=nil && @cond!=nil && @usrcond!=nil && @jvalue!="" && @cond!="" && @usrcond!=""
      @jsondata2 = {
      		field: @field.humanize,
					datatype: "#{f.class}",
					value: @jvalue,
					condition: @cond,
					usercond: @usrcond,
					result: @res,
					action: @action
				   } 
      Rule.collection.insert(@jsondata2) 
    end
%>

<% end %>
<% end %>

<center>
<table>
  <thead>
    <tr>
      <th>FIELD</th>
      <th>DATATYPE</th>
      <th>VALUE</th>
      <th>CONDITION</th>
      <th>USER CONDITION</th>
      <th>RESULT</th>
      <th>ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |r| %>
      <tr>
        <td><%= r.field %></td>
        <td><%= r.datatype %></td>
        <td><%= r.value %></td>
        <td><%= r.condition %></td>
        <td><%= r.usercond %></td>
        <td><%= r.result %></td>
        <% @a= r.action %> <td><%= @a %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<!-- action mailer -->
 <%
 if @jvalue!=nil && @cond!=nil && @usrcond!=nil && @jvalue!="" && @cond!="" && @usrcond!=""
    if @a == "Mail"
        UserMailer.welcome_email.deliver
    end
 end
 %>