<center>

<h1>RULE ENGINE</h1> <br>

<form action="/home/index">
<b>JSON data displayed from url: </b><i><%= @url %></i><br>
 <select name="jvalue" style="width: 300px; height: 40px;">
  <option value="" selected = selected>Select field </option>
  <% @jsondata.each do |f1,v| %>
  <option value="<%= v %>" <% if @jvalue == v -%> selected="selected" <% end -%>
  > 
  <%= f1 %></option>

  <% end %>
</select>

<input type="submit" value="Go"> <br>

<% if @jvalue1 != nil %>
<% @jvalue1.each do |f| %> <br>

<table>
  <th><b>Value</b></th>
  <th><b>Class</b></th>
<tr>
  <td><%= f %> <br></td>
  <td><%= f.class %> <br></td>
</tr>
</table> 

<b>Conditions for type: </b><i><%= f.class %></i>

<% if f.class != String %>
<select name="conditions" style="width: 300px; height: 40px;"> 
  <% if f.class == Fixnum %>
  
  <option value="">Select condition </option>
  <option value="<"<% if @cond == "<" -%> selected="selected" <% end -%>> < </option>
  <option value=">"<% if @cond == ">" -%> selected="selected" <% end -%>> > </option>
  <option value="="<% if @cond == "=" -%> selected="selected" <% end -%>> = </option>

  <% elsif f.class == Date %>
  
  <option value="">Select condition </option>
  <option value="difference"<% if @cond == "difference" -%> selected="selected" <% end -%>> find difference </option>
  
  <% elsif f.class == Time %>
  
  <option value="">Select condition </option>
  <option value="difference"<% if @cond == "difference" -%> selected="selected" <% end -%>> find difference </option>
  <% end %>
</select>
<% end %>

      <% if f.class == Date %>
      Enter Value <input type="date" style="width: 200px; height: 40px;" name="usercondition">
      <% elsif f.class == Time %>
      Enter Value <input type="time" style="width: 200px; height: 40px;" name="usercondition">
      <% elsif f.class == Fixnum || f.class == Float %>
      Enter Value <input type="number" style="width: 200px; height: 40px;" name="usercondition">
      <% else %>
      Enter Value <input type="text" style="width: 200px; height: 40px;" name="usercondition">
      <% end %>

<% if f.class == String %>  
<input type="submit" value="Check for Regex"> <br>
<% elsif %>
<input type="submit" value="Check"> <br>
<% end %>

<% end %>
<% end %>


<% if @usrcond != "" && @usrcond != nil %>
 
 <% if @jvalue1 != nil %>
   <% @jvalue1.each do |f1| %> <br>

<table>
  <% if f1.class == String %>
    <th>Value entered</th> 
  <% else %>
    <th>Condition selected</th> 
  <% end %>
    <th>Applying rule</th>
    <th>Result</th>
  <tr>
    <% if f1.class == Fixnum || f1.class == Date || f1.class == Time%>
    <td><%= @cond %> </td>
    <% else %>
    <td><%= @usrcond %> </td>
    <%end%>

     <% if f1.class == Fixnum %>


        <%
          engine = Wongi::Engine.create
          engine << [ @cond =="<", @cond ==">", @cond =="=" ]
  
          engine.each :_, :_, :_ do |item|
        %>

            <% if item.subject %>
              <td><%= "#{f1} < #{params[:usercondition]} ?" %></td>
              <td> <%= f1<@usrcond.to_i ? "True" : "False"%> </td>
            <% elsif item.predicate %>
              <td><%= "#{f1} > #{params[:usercondition]} ?" %></td>
              <td> <%= f1>@usrcond.to_i ? "True" : "False"%> </td>
            <% elsif item.object %>
              <td><%= "#{f1} = #{params[:usercondition]} ?" %></td>
              <td> <%= f1==@usrcond.to_i ? "True" : "False"%> </td>
            <% end %>


        <% end %>

     <% elsif f1.class == String %>

          <td><%= "#{f1} -> #{params[:usercondition]}" %></td>
          <td> <%= f1=~/#{@usrcond}/? "Contains #{@usrcond}" : "Doesnt contain #{@usrcond}" %> </td>
        

     <% elsif f1.class == Date %>

        <% if @cond =="difference" %>
          <td><%= "#{@usrcond} (-) #{f1}" %></td>
          <% 
           a = Date.parse(f1.strftime("%d-%m-%Y"))
           b = @usrcond
          %>
          

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Year" %></b><br><%= diff[:year] %></td>
            <td><b><%= "Month" %></b><br><%= diff[:month] %></td>
            <td><b><%= "Week" %></b><br><%= diff[:week] %></td>
            <td><b><%= "Day" %></b><br><%= diff[:day] %></td>
            
            <% a1 = a.to_date %>
            <% b1 = b.to_date %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Ahead" %></td> 
            <% else %>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Behind" %></td>
            <% end %>
        <% end %>


     <% elsif f1.class == Time %>

        <% if @cond =="difference" %>
          <td><%= "#{@usrcond} (-) #{f1.strftime("%H:%M:%S")}" %></td>
          <% 
           a = f1.strftime("%H:%M:%S")
           b = @usrcond
          %>

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Hour" %></b><br><%= diff[:hour] %></td>
            <td><b><%= "Minute" %></b><br><%= diff[:minute] %></td>
            <td><b><%= "Second" %></b><br><%= diff[:second] %></td>

            <% a1 = a.to_time %>
            <% b1 = b.to_time %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Ahead" %></td> 
            <% else %>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Behind" %></td>
            <% end %>
        <% end %>

     <% end %>

   <%end%>
 <%end%>
</tr>
</table>
<% end %>



</form>

</center>