<nav class="top-bar" data-topbar>
    <li class="text-center">
      <h1><a href="/">RULE ENGINE</a></h1>
    </li>
</nav>
<br>


<form action="/home/index">

<div class="large-4 columns">
<div class="row collapse">

<div class="small-9 columns">
 <select name="jvalue">
  <option value="">Select field </option>
  <% @jsondata.each do |f1,v| %>

   <% v1 = v.split("  ").map do |entry| 
        if entry.to_i == 0 && entry != "0" # this is a string 
          entry 
        elsif entry = ( Text(entry) rescue Integer(entry) rescue Float(entry) rescue Date.parse(entry) rescue Time.parse(entry) rescue nil) 
        entry.nil? ? entry : entry 
        end end 
   %>

  <option value="<%= v %>" <% if @jvalue == v -%> selected="selected" <% end -%>
  > 
      <%= f1 %>
      <% v1. each do |v2| %>
      <%= [v2.class] %>
      <% end %>
  </option>
  <% end %>
 </select>
</div>

<div class="small-3 columns">
<input class="button postfix" type="submit" value="Go">
</div>

</div>
</div>

<% if @jvalue1 != nil %>
<% @jvalue1.each do |f| %>

<div class="large-2 columns">
<div class="row collapse">

<div class="small-3 columns">
  <span class="prefix">Value</span>
</div>  
<div class="small-9 columns">
<% if f.class == Time %>
  <input type="text" value = <%= f.strftime("%H:%M:%S") %> readonly>
  <% elsif f.class == Date %>
  <input type="text" value = <%= f.strftime("%m/%d/%Y") %> readonly>
  <% else %>
  <input type="text" value = <%= f %> readonly>
  <% end %>
</div>

</div>
</div>

<% if f.class != String %>

<div class="large-2 columns">
<select name="conditions" > 
  <% if f.class == Fixnum %>
  
  <option value="">Select condition </option>
  <option value="<"<% if @cond == "<" -%> selected="selected" <% end -%>> < </option>
  <option value=">"<% if @cond == ">" -%> selected="selected" <% end -%>> > </option>
  <option value="="<% if @cond == "=" -%> selected="selected" <% end -%>> = </option>

  <% elsif f.class == Date %>
  
  <option value="">Select condition </option>
  <option value="difference"<% if @cond == "difference" -%> selected="selected" <% end -%>> find difference </option>
  
  <% elsif f.class == Time %>
  
  <option value="">Select condition </option>
  <option value="difference"<% if @cond == "difference" -%> selected="selected" <% end -%>> find difference </option>
  <% end %>
</select>
</div>

<% end %>

      <% if f.class == Date %>
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="date" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div>
          </div>
          </div>
        
      <% elsif f.class == Time %>
           
          <div class="large-4 columns">
          <div class="row collapse">      
          <div class="small-9 columns">
            <input id="right-label" type="time" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div> 
          </div>
          </div>       
        
      <% elsif f.class == Fixnum %>        
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="number" placeholder="e.g. 1234" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div> 
          </div>
          </div>         
       
      <% elsif f.class == Float %>
          
          <div class="large-4 columns">
          <div class="row collapse">
          <div class="small-9 columns">
            <input id="right-label" type="text" placeholder="e.g. 12.34" name="usercondition">
          </div>
          <div class="small-3 columns">
            <input class="button postfix" type="submit" value="Check">
          </div>
          </div>
          </div>
          
      <% else %>
           
          <div class="large-6 columns">
          <div class="row collapse">          
          <div class="small-8 columns">
            <input id="right-label" type="text" placeholder="e.g. xxxx" name="usercondition">
          </div>
          <div class="small-4 columns">
            <input class="button postfix" type="submit" value="Check for Regex">
          </div>
          </div>
          </div>

      <% end %>

<% end %>
<% end %>

<% if @usrcond != "" && @usrcond != nil %>
 
 <% if @jvalue1 != nil %>
   <% @jvalue1.each do |f1| %>

<table class="reveal-modal">
  <% if f1.class == String %>
    <th>Value entered</th> 
  <% else %>
    <th>Condition selected</th> 
  <% end %>
    <th>Applying rule</th>
    <th>Result</th>
  <tr>
    <% if f1.class == Fixnum || f1.class == Date || f1.class == Time%>
    <td><%= @cond %> </td>
    <% else %>
    <td><%= @usrcond %> </td>
    <%end%>

     <% if f1.class == Fixnum %>


        <%
          engine = Wongi::Engine.create
          engine << [ @cond =="<", @cond ==">", @cond =="=" ]
  
          engine.each :_, :_, :_ do |item|
        %>

            <% if item.subject %>
              <td><%= "#{f1} < #{params[:usercondition]} ?" %></td>
              <td> <%= f1<@usrcond.to_i ? "True" : "False"%> </td>
            <% elsif item.predicate %>
              <td><%= "#{f1} > #{params[:usercondition]} ?" %></td>
              <td> <%= f1>@usrcond.to_i ? "True" : "False"%> </td>
            <% elsif item.object %>
              <td><%= "#{f1} = #{params[:usercondition]} ?" %></td>
              <td> <%= f1==@usrcond.to_i ? "True" : "False"%> </td>
            <% end %>


        <% end %>

     <% elsif f1.class == String %>

          <td><%= "#{f1} -> #{params[:usercondition]}" %></td>
          <td> <%= f1=~/#{@usrcond}/? "Contains #{@usrcond}" : "Doesnt contain #{@usrcond}" %> </td>
        

     <% elsif f1.class == Date %>

        <% if @cond =="difference" %>
          <td><%= "#{@usrcond} (-) #{f1}" %></td>
          <% 
           a = Date.parse(f1.strftime("%d/%m/%Y"))
           b = @usrcond
          %>
          

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Year" %></b><br><%= diff[:year] %></td>
            <td><b><%= "Month" %></b><br><%= diff[:month] %></td>
            <td><b><%= "Week" %></b><br><%= diff[:week] %></td>
            <td><b><%= "Day" %></b><br><%= diff[:day] %></td>
            
            <% a1 = a.to_date %>
            <% b1 = b.to_date %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Ahead" %></td> 
            <% else %>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Behind" %></td>
            <% end %>
        <% end %>


     <% elsif f1.class == Time %>

        <% if @cond =="difference" %>
          <td><%= "#{@usrcond} (-) #{f1.strftime("%H:%M:%S")}" %></td>
          <% 
           a = f1.strftime("%H:%M:%S")
           b = @usrcond
          %>

          <% diff = Time.diff(b, a) %>
            <td><b><%= "Hour" %></b><br><%= diff[:hour] %></td>
            <td><b><%= "Minute" %></b><br><%= diff[:minute] %></td>
            <td><b><%= "Second" %></b><br><%= diff[:second] %></td>

            <% a1 = a.to_time %>
            <% b1 = b.to_time %>
            <% if b1 > a1 || b1 == a1%>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Ahead" %></td> 
            <% else %>
             <td><b><%= "Ahead/Behind" %></b><br><%= "Behind" %></td>
            <% end %>
        <% end %>

     <% end %>

   <%end%>
 <%end%>
</tr>
</table>
<% end %>

</form>